.navbarNew{
    height: 5rem;
    box-shadow: 0px 5px 3px dodgerblue;
}


.logoNavbar{
    height: 46px;
    width: 46px;
}


.logoUsuario{
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
}